
.checklist-main{
    margin: 2% 0 0 10% ; 
    width: 80%; 
    margin-bottom: 5px;
}

.my-mat-card-title {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

.remove-task {
    float: right;
    cursor: pointer;
    font-weight: 400;
}

.validate-button {
    height: 42px; 
    margin-top: 0;
}