<mat-card class="checklist-main">
    <p class="my-mat-card-title">Add a task</p>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div style=" display:flex;">

            <mat-form-field  style="flex:2">
                <input matInput placeholder="Title" formControlName="title" required>
            </mat-form-field>

            <mat-form-field style="flex:5">
                <textarea matInput
                        formControlName="description"
                        placeholder="Description"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <button type="submit" [disabled]="!profileForm.valid" class="validate-button" style="flex:1" mat-raised-button>Create Task</button>
        </div>
    </form>
</mat-card>

<mat-card class="checklist-main">
    <p class="my-mat-card-title">My tasks</p>
    <div *ngFor="let todo of sortList(list); index as i; ">
        <div class="todo-item" >
            <mat-checkbox [ngClass]="{'crossed':todo.isChecked}" [(ngModel)]="todo.isChecked" (click)="updateTask(todo)">
                {{todo.title}}
            </mat-checkbox>
            <div (click)="removeTask(todo.id)" class="remove-task">&#10006;</div>
            <div style="float: right; height: 100%; margin-right: 15px;" routerLink="/checklist/{{todo.id}}" class="remove-task">Details</div>
        </div>
    </div>
</mat-card>


